samples/stepfunctions/callcenter-workflow-app/statemachine/call_center.asl.json
{
    "Comment": "A simple AWS Step Functions state machine that automates a call center support session.",
    "StartAt": "Open Case",
    "States": {
        "Open Case": {
            "Type": "Task",
            "Resource": "${OpenCaseFunctionArn}",
            "Next": "Assign Case"
        },
        "Assign Case": {
            "Type": "Task",
            "Resource": "${AssignCaseFunctionArn}",
            "Next": "Work on Case"
        },
        "Work on Case": {
            "Type": "Task",
            "Resource": "${WorkOnCaseFunctionArn}",
            "Next": "Is Case Resolved"
        },
        "Is Case Resolved": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Status",
                    "NumericEquals": 1,
                    "Next": "Close Case"
                },
                {
                    "Variable": "$.Status",
                    "NumericEquals": 0,
                    "Next": "Escalate Case"
                }
            ]
        },
        "Close Case": {
            "Type": "Task",
            "Resource": "${CloseCaseFunctionArn}",
            "End": true
        },
        "Escalate Case": {
            "Type": "Task",
            "Resource": "${EscalateCaseFunctionArn}",
            "Next": "Fail"
        },
        "Fail": {
            "Type": "Fail",
            "Cause": "Engage Tier 2 Support."
        }
    }
}